.badge>* {
    display: inline-block;
    vertical-align: top;
    height: 24px;
    vertical-align: middle;
    background-color: rgba(0, 255, 0, .1);
    padding-top: 4px;
    color: green;

    border-radius: 5px;
}

.badge-default>* {
    background-color: transparent;
    color: black;
}

.text {
    color: var(--primary);
    margin: 0 2px;
    padding: 0;
    font-size: 14px;
}

.count {
    margin: 0;
    padding: 0;
    width: 30px;
    font-size: 13px;
}